page-profileform {
    .back-button.show-back-button {
        display: none;
    }
    .toolbar-title-md {
        padding: 0 8px;
        font-size: 22px;
        font-weight: 500;
        color: #ffffff;
        opacity: 87%;
    }
    .more{
        margin-left:6%;
    }
    .pic{
        
        border-radius: 50%;width: 80%;
    }
    .pic-ker{
        margin-left: 10px;
        margin-top: 10px;

    }

    .folicon{
        width: 80px;
        vertical-align: 20%;
        text-align: center;
        padding-left: 10%;
        padding-top:20%;
    }
    .folname{
        width: 80px;
        vertical-align: 20%;
        text-align: center;
        padding-left: 12%;
    }
    .facility {
        width:80px ;
        padding-left: 5% ;
        margin: 0 ;
        font-family: "DroidSans";
        font-size: 12px;
        color: #b2b2b2;
        text-align: center ;
    }
    .following {
        width: 80px ;
        margin: 0 ;
        padding-left: 12%;
        font-family: "DroidSans";
        font-size: 12px;
        color: #b2b2b2;
        text-align: center ;
    }
    .followers {
        width: 80px;
        margin: 0;
        font-family: "DroidSans";
        font-size: 12px;
        color: #b2b2b2;
        text-align: center ;
        padding-left: 12%;

    }
    .folinner{
        text-align: center;
        border-right: inset;
        border-right-width: 1px;
    }

   /* .etitle.text-input-md {
        margin: 16px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: calc(100% - 8px - 8px);
        font-family: "DroidSans";
        color: #666666;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 1px solid #dedede;
        max-width: 96%;
    }*/
    .person{
        width: 6.7%;
    }
    .text-input-md{
        margin-bottom:1%;
        margin-left: 4%;
        font-family: "DroidSans";
    }
     .row-ele{
         padding-left: 1%;
         padding-top: 4.2%;
         padding-bottom: 0.1%;
     }   
     .h-line{
         border-top-style: double;
         border-top-color: #b2b2b2;
         border-top-width: 100%;
         border-width: 1px;
         margin-left: 2.2%;
         margin-right: 2.2%;
     }
     .gen{
         text-align: right;
         padding:0;
         margin: 0;
         width: 100%;
         border-color: #ffffff;
     }
     
     .select-md .select-icon {
       position: absolute;
       //position: fixed;
        right: 10%;
        width: 14px;
        //height: 20px; 
    }
    /*[col-2] .toggle{
        width: 49%;
        max-width: 60%;
        //position: fixed;
        //right: 8.8%;
        //bottom: 0.2%;
        
        
    }*/
    .selector {
        font-family: SFNSDisplay;
        font-size: 12px;
        line-height:15px;
        letter-spacing: 0.1px;
        color: #29235e;
        width: 60% !important;
        max-width: 100% !important;
        justify-content: center;
         border: none;
        background-color: #ffffff;
        text-align: left;
      }
      .option {
        font-family: "DroidSans";
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.1px;
        color: #29235e;
        width: 100% !important;
        max-width: 60% !important;
        justify-content: center;
        height: 20px;
      }
    
      ion-option .list{
        font-family: "DroidSans";;
        font-size: 14px !important;
        max-width: 60% !important;
      }
      .ion-option-items .item{
        font-family: "DroidSans";
        font-size: 14px !important;
        max-width: 60% !important;
      }
     .select-popover {
        font-family: "DroidSans" !important;
        font-size: 14px !important;
        max-width: 60% !important;
      }
    //   .genclass{
    //       top: 322.797px;
    //       left: 209px;
    //       height: 64px;
    //       width: 136px;
    //       transform-origin: right top 0px;
    //       transform: scale(1);   
    //   }
    
    .popover-md .popover-content {
        border-radius: 30px;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        width: 100px;
        min-width: 0;
        min-height: 0;
        max-height: 90%;
        color: #000;
        background: #fff;
        -webkit-box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
    }
    
    .popover-content {
        position: absolute;
        z-index: 10;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        top: 100.797px;
          left: 10px;
          height: 64px;
          max-width: 40px !important;
          transform-origin: right top 0px;
          transform: scale(1);   
        
    }
    .selectpart{
        // top: 0;
        //   left: 0px;
        //   height: 64px;
        //   max-width: 100px !important;
        //   transform-origin: right top 0px;
        //   transform: scale(0); 
    }
    
    .popover{
        top: 100.797px;
        left: 209px;
        height: 64px;
        max-width: 60px ;
        width: 60px;
        transform-origin: right top 0px;
        transform: scale(0); 
    }
        
    .list-md .item-block .item-inner {
        border-bottom: 0px solid #dedede;
    }
    .ion-option-items{
        max-width: 60px;
    }
}
